<h1><%= @user.name %></h1>

<span>Price => </span>  <span><%= @user.email %></span><br>
<span>type => </span>  <span><%= @user.contact %></span><br>
<span>Creater => </span>  <span><%= @user.address %></span><br>
